<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="GoalEquation" value="(((2.0*(x*x))+3.0)/2.0)"/>
    <add key="ReproductionProb" value="0.10"/>
    <add key="MutateProb" value="0.05"/>
    <add key="OperandProb" value="0.75"/>
    <add key="VariableProb" value="0.40"/>
    <add key="MinTreeHeight" value="4"/>
    <add key="MaxTreeCrossoverHeightModifier" value="1.0"/>
    <add key="MaxTreeHeight" value="20"/>
    <add key="MinInput" value="-20"/>
    <add key="MaxInput" value="20"/>
    <add key="GenerationSize" value="80"/>
    <add key="HardResetGenerationCount" value="1000"/>
  </appSettings>
</configuration>